* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    margin: 0;
    background-color: #FAFAFA;
}

#header {
    font-size: 197%;
    text-align: center;
    background-color: #0D131E;
    color: white;
    margin: auto;
    width: 98%;
    border: 5px solid rgb(0, 151, 118);
    padding: 10px;
}

#header h3 {
    font-size: medium;
    margin-bottom: 0.5px;
}

#menu {
    width: fit-content;
    margin: 0 auto;
}

#menu ul {
    list-style: none;
    margin: 5px;
    padding: 0;
}

#menu li {
    display: block;
    float: left;
    width: 122px;
    height: 65px;
    padding: 10px 10px 0 0;
}

#menu a {
	display: block;
	width: 122px;
	height: 32px;
	padding: 13px 0 0 0;
	background: rgb(6, 184, 125) no-repeat;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

.column {
    float: left;
    padding: 10px;
}

.column.side {
    width: 23%;
}

.column.middle {
    width: 48%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
